<div ng-controller="ListOrdersCtrl">
{{orders.length}}

	       	<div class="form-group">	       	     
	       	 
	       	    <label class="col-sm-2 control-label" >{{i18n('orderItems')}}</label>
                <div class="col-sm-8"> 
             		   <div class="gridStyle" ng-grid="gridOptions">             </div>
	 			</div>
	 		</div>
</div>