<div ng-controller="NewOrderCtrl">
    <form class="form-horizontal" role="form">
             <div class="form-group">
                <label for="customer" class="col-sm-2 control-label" for="title">{{i18n('customer')}} </label>
                <div class="col-sm-2"> 
					<select id="customer"  class="form-control" ng-model="order.customerId" 
						ng-options="opt.id as opt.name for opt in customers">
					</select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="productSearch" class="control-label col-sm-2"  >{{i18n('product')}} </label>
                <div class="col-sm-2"> 
              		<input   class="form-control"  ng-model="selectedProduct" data-ui-select2="productSelectOptions" ng-change="addProduct()"  />
 
                </div>
            </div>

	       	<div class="form-group">	       	     
	       	 
	       	    <label class="col-sm-2 control-label" >{{i18n('orderItems')}}</label>
                <div class="col-sm-8"> 
             		   <div class="gridStyle" ng-grid="gridOptions">             </div>
	 			</div>
	 		</div>
		    <div class="form-group">
	       	     <label class="control-label col-sm-2" for="totalPrice">{{i18n('totalPrice')}} </label>
	             <div class="col-sm-2" >
	              		<p class="form-control-static">{{order.totalPrice}}</p>
	             </div>
	             
	 		</div>
	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="finalPrice">{{i18n('discount')}} (%)</label>
	       	
	             <div class="col-sm-8" >
    					<input id="discount" type="text" class="input-block-level" 
                           ng-model="order.discount"  ></input>
					         
	             </div>
	             
	 		</div>
	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="finalPrice">final price</label>
	             <div class="col-sm-8" >
	           		<p class="form-control-static">{{order.finalPrice}}</p>
	             </div>
	             
	 		</div>
	 		<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
    			    <button class="btn btn-primary"  ng-click="addOrder()">Add Order</button>
    			</div>
  			</div>
	 		<!-- 
		       	<div class="control-group">
	       	     <label class="control-label" for="product_barcode">Items</label>
	       	
	             <div class="  controls" >
				     <ul>
					    <li ng-repeat="purchaseItem in p.purchaseItems">
					          <label  >{{purchaseItem.name}} :</label>   <input ng-model="purchaseItem.count" placeholder="ammount"><input ng-model="purchaseItem.batchno" placeholder="batchno"><input ng-model="purchaseItem.price" placeholder="price"><input ng-model="purchaseItem.expiry" placeholder="expiry">
					     
					    </li>
					    
					  </ul>
					         
	             </div>
	 		</div>
	 		-->
   

    </form>
</div>