<div ng-controller="ViewOrderCtrl">
    <form class="form-horizontal" role="form">
             <div class="form-group">
                <label for="customer" class="col-sm-2 control-label" for="title">{{i18n('customer')}} </label>
                <div class="col-sm-2"> 
					<p class="form-control-static">{{order.customerId}}</p> 
                </div>
            </div>
 
	       	<div class="form-group">	       	     
	       	 
	       	    <label class="col-sm-2 control-label" >{{i18n('orderItems')}}</label>
                <div class="col-sm-8"> 
             		   <div class="gridStyle" ng-grid="gridOptions">             </div>
	 			</div>
	 		</div>
		    <div class="form-group">
	       	     <label class="control-label col-sm-2" for="totalPrice">{{i18n('totalPrice')}} </label>
	             <div class="col-sm-2" >
	              		<p class="form-control-static">{{order.totalPrice}}</p>
	             </div>
	             
	 		</div>
	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="finalPrice">{{i18n('discount')}} (%)</label>
	       	
	             <div class="col-sm-8" >
 
					    <p class="form-control-static">{{order.discount}}</p>
     
	             </div>
	             
	 		</div>
	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="finalPrice">final price</label>
	             <div class="col-sm-8" >
	           		<p class="form-control-static">{{order.finalPrice}}</p>
	             </div>
	             
	 		</div>
 
    </form>
</div>