<div ng-controller="ListInventoryCtrl">
<form class="form-horizontal" role="form">
  <div class="form-group"  >
    <label for="title" class="col-sm-2 control-label">{{i18n('Product')}}</label>
    <div class="col-sm-2">
      <input id="title"  class="form-control" placeholder="{{i18n('EnterFirstcharsOfProduct')}}" ng-model="filterParams.searchText"  />
    </div>
  </div>
  
  <div class="form-group"  >
    <label for="dateBefore" class="col-sm-2 control-label">{{i18n('ExpiryDateBefore')}}</label>
    <div class="col-sm-2">
		<input id="dateBefore" class="datepicker form-control" ng-model="filterParams.expiryDatebefore" type="date" data-datepicker-popup="yyyy-MM-dd" data-date-format="yyyy-MM-dd" />
    </div>
  </div>
  <div class="form-group"  >
    <label for="supplier" class="col-sm-2 control-label">{{i18n('supplier')}}</label>
    <div class="col-sm-2">
      <select id="supplier" ng-model="filterParams.supplierId" class="form-control" ng-options="opt.id as opt.name for opt in suppliers">
	  </select>
    </div>
  </div>

  <div class="form-group"  >
    <label for="showEmptyStock" class="col-sm-2 control-label">{{i18n('showEmptyStock')}}</label>
    <div class="col-sm-6">
      <input type="checkbox" ng-model="filterParams.showEmptyStock"  />
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<button href ng-click="search(filterParams)" class="btn btn-primary">{{i18n('search')}}</button>
    	<button href ng-click="clear()" class="btn btn-default">{{i18n('clearSearch')}}</button>
      	
    </div>
  </div>
</form>
              
             		 <div class="col-sm-offset-2 gridStyle col-sm-10" ng-grid="gridOptions"/>
                 
</div>