<div ng-controller="NewPurchaseCtrl">
    <form  class="form-horizontal">
        
        <fieldset>    
            <div class="control-group">
                <label class="control-label" for="title">Supplier </label>
                <div class="controls"> 
             		
					<select ng-model="p.supplierId" 
						ng-options="opt.id as opt.name for opt in suppliers">
					</select>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="title">Product </label>
                <div class="controls"> 
             		<input   ng-model="selectedProduct" data-ui-select2="productSelectOptions" ng-change="addProduct()" style="width:200px" />

                </div>
            </div>

            
            

	       	<div class="control-group">
	       	     <label class="control-label" for="product_barcode">Items</label>
                <div class="controls"> 
             		 <div class="gridStyle" ng-grid="gridOptions">
                </div>
	 		</div>
	 		
		    <div class="control-group">
	       	     <label class="control-label" for="totalPrice">total price</label>
	       	
	             <div class="  controls" >
    					<input id="totalPrice" type="text" class="input-block-level" 
                           ng-model="p.totalPrice"  ></input>
					         
	             </div>
	             
	 		</div>
	 		<div class="control-group">
	       	     <label class="control-label" for="totalPrice">discount (%)</label>
	       	
	             <div class="  controls" >
    					<input id="discount" type="text" class="input-block-level" 
                           ng-model="p.discount"  ></input>
					         
	             </div>
	             
	 		</div>
	 		<div class="control-group">
	       	     <label class="control-label" for="finalPrice">final price</label>
	       	
	             <div class="  controls" >
	             		<label class="control-label" for="finalPrice">{{(1-(p.discount /100)) * p.totalPrice }}</label>
	             </div>
	             
	 		</div>
	 		<!-- 
		       	<div class="control-group">
	       	     <label class="control-label" for="product_barcode">Items</label>
	       	
	             <div class="  controls" >
				     <ul>
					    <li ng-repeat="purchaseItem in p.purchaseItems">
					          <label  >{{purchaseItem.name}} :</label>   <input ng-model="purchaseItem.count" placeholder="ammount"><input ng-model="purchaseItem.batchno" placeholder="batchno"><input ng-model="purchaseItem.price" placeholder="price"><input ng-model="purchaseItem.expiry" placeholder="expiry">
					     
					    </li>
					    
					  </ul>
					         
	             </div>
	 		</div>
	 		-->
	 		
	 		<div class="control-group">
                
                <div class="controls">
                    <a href ng-click="addOrder()">Add order</a>
		    		
                </div>
            </div>     

	 	</fieldset>
        

    </form>
</div>