 <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#richstore-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{i18n('brand')}}</msg></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="richstore-navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n('sales')}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/order/new"> {{i18n('newOrder')}} </a></li>
            <li><a href="#/order/list"> {{i18n('orders')}}</a></li> 
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n('purchases')}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/purchase/new"> {{i18n('newPurchaseInvocie')}}  </a></li>
            <li><a href="#/purchase/list">{{i18n('PurchaseInvocies')}}   </a></li> 
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n('inventory')}}   <b class="caret"></b></a>
          <ul class="dropdown-menu">
          		<li><a href="#/inventory/list">{{i18n('InventoryContents')}}  </a></li>
                <li><a href="#/inventory/list?expired=true"> {{i18n('InventoryExpired')}} </a></li>
                <li><a href="#/inventory/lowstock"> {{i18n('lowstock')}} </a></li>
                
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n('accounting')}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/purchase/new"> {{i18n('newExpensePayment')}} </a></li>
            <li><a href="#/purchase/new"> {{i18n('newSalaryPayment')}} </a></li>

            <li class="divider"></li>
          
            <li><a href="#/purchase/new"> {{i18n('vendorsAccounts')}} </a></li>
            <li><a href="#/purchase/list"> {{i18n('customersAccounts')}} </a></li>
            <li><a href="#/purchase/list"> {{i18n('inevtoryAccounts')}} </a></li>
            <li><a href="#/purchase/list"> {{i18n('cashAccounts')}} </a></li>
            <li><a href="#/purchase/list"> {{i18n('accountsOverview')}} </a></li>
            
            
             
          </ul>
        </li>
      </ul>
 
      <form class="navbar-form navbar-left  form-inline" role="search">
        <div class="form-group">
           <span class="input-group-btn">
            <input type="text" class="form-control" placeholder="Search">
        
           
        	<button class="btn btn-default" type="button">   <span class="glyphicon glyphicon-search"></span></button>
      		</span>
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button>-->
      </form>
      
		<?php echo $this->partial('richstore/index/user',array()); ?>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <ul class="nav navbar-nav " >
                            <li class="dropdown">
                                <a href="#"  class="dropdown-toggle" data-toggle="dropdown">  </a>
                                <ul  class="dropdown-menu">
                                	<li><a href="#/purchase/new"> {{i18n('newPurchaseInvocie')}} </a></li>
                                	<li><a href="#/purchase/list"> {{i18n('PurchaseInvocies')}} </a></li>                               	
                                </ul>
                            </li>
                            <li class="divider"></li>
                            
                             <li class="dropdown">
                                <a href="#"  class="dropdown-toggle" data-toggle="dropdown"> {{i18n('inventory')}} </a>
                                <ul  class="dropdown-menu">

                                	                               	
                                </ul>
                            </li>
                            <li class="divider"></li>
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" > {{i18n('orders')}} </a>
                                <ul  class="dropdown-menu">
                                	<li><a href="#/order/new"> {{i18n('newOrder')}} </a></li>
                                	<li><a href="#/order/list"> {{i18n('Orders')}} </a></li>                               	
                                </ul>
                            </li>
                            
                        </ul>
                        -->