	<ul class="nav navbar-nav navbar-right"  >
		        <input type="hidden" id="baseUrl" value="<?=$this->basepath() ?>" />
	<?php if ($user = $this->identity ()) {	?>
        	<li>
		        <a class="username"> {{i18n('welcome')}}   	 <?php echo $this->escapeHtml($user->getUsername()); ?>(<?=$user->getRole()->getName()?>) </a>
    			<input type="hidden" id="currentUserId" value="<?= $this->identity()->getId()?>" ng-model="currentUser.userId" /> 
    			<input type="hidden" id="currentUserRole" value="<?= $this->identity ()->getRole()->getId()?>" ng-model="currentUser.userRole" />  
        	</li>
        	

        	<li>
				<a class="controls">		
					<span class="control-label" for="title">Store </span>{{currentStore}}
					<select ng-model="currentStore" ng-options="opt.id as opt.name for opt in stores" >		</select>
				</a>
        	</li>
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{i18n('settings')}}  <b class="caret"></b></a>
          		<ul class="dropdown-menu">
            		<li><a href="#"> <a href="<?php echo $this->url('logout');?>">{{i18n('logout')}} </a> 	 </li>
            		<li><a href="#"> <a href="<?php echo $this->url('editProfile');?>">{{i18n('editProfile')}} </a> 	 </li>
	    		</ul>
    	    </li>
         <?php } else{	?>
            <li>
				<a href="<?php echo $this->url('login');?>"> {{i18n('welcome')}}{{i18n('guest')}} </a>
        	</li>
        	<li>
				<a href="<?php echo $this->url('login');?>" class="btn btn-link btn-primary">		{{i18n('login')}}  </a>
        	</li>
        	
         
         <?php } 	?>
        
        

      </ul>
         
    