<div data-ng-controller="NewPurchaseCtrl">

    <form class="form-horizontal" role="form">
      
            <div class="form-group">
                <label class="col-sm-2 control-label" for="supplier">{{i18n('supplier')}} </label>
                <div class="col-sm-8"> 
					<select id="supplier" class="form-control" ng-model="p.supplierId" 
						ng-options="opt.id as opt.name for opt in suppliers">
					</select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="productSearch" class="control-label col-sm-2"  >{{i18n('product')}} </label>
                <div class="col-sm-8"> 
             		<input  id="productSearch" class="form-control"  ng-model="selectedProduct" data-ui-select2="productSelectOptions" ng-change="addProduct()" />
                </div>
            </div>

	       	<div class="form-group" >
	       	    <label class="control-label col-sm-2"  >{{i18n('items')}} </label>
                <div class="col-sm-8"> 
             		 <div class="gridStyle" ng-grid="gridOptions"></div>
	 			</div>
	 		</div>
 	 		
		    <div class="form-group">
	       	     <label class="control-label col-sm-2"  >{{i18n('totalPrice')}} </label>
	             <div class="  col-sm-8" >
	             		<p class="form-control-static">{{p.totalPrice}}</p>
	             </div>
	             
	 		</div>
	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="discount">{{i18n('discount')}} (%)</label>
	             <div class="  col-sm-8" >
    					<input id="discount" type="text" class="input-block-level" ng-model="p.discount"  ></input>
	             </div>
	 		</div>

	 		<div class="form-group">
	       	     <label class="control-label col-sm-2" for="finalPrice">{{i18n('finalPrice')}}</label>
	             <div class="  controls" >
	             		<label class="control-label" for="finalPrice">{{(1-(p.discount /100)) * p.totalPrice }}</label>
	             </div>
	             
	 		</div>
	 		<!-- 
		       	<div class="control-group">
	       	     <label class="control-label" for="product_barcode">Items</label>
	       	
	             <div class="  controls" >
				     <ul>
					    <li ng-repeat="purchaseItem in p.purchaseItems">
					          <label  >{{purchaseItem.name}} :</label>   <input ng-model="purchaseItem.count" placeholder="ammount"><input ng-model="purchaseItem.batchno" placeholder="batchno"><input ng-model="purchaseItem.price" placeholder="price"><input ng-model="purchaseItem.expiry" placeholder="expiry">
					     
					    </li>
					    
					  </ul>
					         
	             </div>
	 		</div>
	 		-->
	 		
	 		<div class="control-group">
                
                <div class="controls">
                    <button class="btn btn-primary"  ng-click="addOrder()">Add Invoice</button>
		    		
                </div>
            </div>     

 
        

    </form>
</div>