<div class="container">
<h1> Rich Store Demo</h1>
<div class="form-group">
<p calss="form-control">User Name: ahmed.gamal@ahmedgamal.info</p>
<p calss="form-control">Pass: 123456</p>

</div>
<div>
<object width="100" height="100">
    <param name="movie" value="file.swf">
    	<embed src="<?=$this->basepath() ?>/app/img/demo.swf" width="800" height="600">
    </embed>
</object>
</div>
</div>