<!doctype html>
<html lang="en" ng-app="richstore">
    <head>
        <meta charset="utf-8">
        <title>Pharmcy System APP</title>
        <link href="app/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
                
        <link rel="stylesheet" href="app/css/ng-grid.css"/>
        <link rel="stylesheet" href="app/css/select2.css">
        
        <link rel="stylesheet" href="app/css/app.css"/>
    </head>
    <body ng-controller="AppCtrl" dir="{{i18n('direction')}}">
	    
	    <div id="navbar" >
	    	<?php echo $this->partial('richstore/index/menu',array()); ?>
	    </div>

	    <div class="container-fluid">
	       	<alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)">   
	          	 		{{alert.msg}}
	          	</alert>
	         <h2 class="page-header"> {{i18n(pageTitle)}}</h2>
	        
	        <ng-view></ng-view>
	        <div  >
	        	<?php echo $this->content; ?>       <hr>
	            <footer>
	            </footer>
	        </div> 
        </div>
        
            <div class="footer">
                <div class="row-fluid">
                    <ul class="nav nav-pills">
                        <li ng-class="activeWhen(language() == 'zh_CN')">
                            <a ng-click="setLanguage('ar')">عربي</a>
                        </li>
                        <li ng-class="activeWhen(language() == 'en')">
                            <a ng-click="setLanguage('en')">English</a>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid">
                	{{i18n('copyRights')}} 
                </div>
                
                
            </div>
        </div>


        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        -->
        <script type="text/javascript" src="app/lib/jquery.js"></script>
        <script type="text/javascript" src="app/lib/jq/jquery.i18n.properties-min-1.0.9.js"></script>
        <script type="text/javascript" src="app/lib/jq/select2.js"></script>
        
        
        <script type="text/javascript" src="app/lib/html5shiv.js"></script>
        <script type="text/javascript" src="app/lib/holder.js"></script>
        <script type="text/javascript" src="app/lib/bootstrap/js/bootstrap.min.js"></script>
        
        

        <script type="text/javascript" src="app/lib/angular/angular.js"></script> 
        <script type="text/javascript" src="app/lib/angular/ui-utils.js"></script>
        <script type="text/javascript" src="app/lib/angular/ui-bootstrap-0.10.0.js"></script>
        <script type="text/javascript" src="app/lib/angular/ui-bootstrap-tpls-0.10.0.js"></script>
        
        <script type="text/javascript" src="app/lib/angular/angular-resource.js"></script>
        <script type="text/javascript" src="app/lib/angular/ng-grid.js"></script>
        <script type="text/javascript" src="app/lib/angular/select2.js"></script>
        
        
        
         
        <script type="text/javascript" src="app/js/app.js"></script>
        <script type="text/javascript" src="app/js/services.js"></script>
        <script type="text/javascript" src="app/js/api.js"></script>
        
        <script type="text/javascript" src="app/js/controllers.js"></script>
        <script type="text/javascript" src="app/js/filters.js"></script>
        <script type="text/javascript" src="app/js/directives.js"></script>

    </body>
</html>
